// Styling for components/datacenters

.datacenters {

  @media (max-width: 767px) {
    ul {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0 !important;
        margin-top: 0;
      }
    }
  }

  .table {
    td {
      font-weight: 600;
    }

    span {
      font-weight: 600;
    }

    a, span {
      font-weight: 600;
      color: #fff;
      margin: 0 5px;

      &.red {
        background: #ED0317;
      }

      &.blue {
        background: #2E74D1;
      }

      &.purple {
        background: #61357F;
      }

      &.green {
        background: #44742C;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
